<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pot.DataLayer.Properties.Settings.PatentiLookUpConnectionString"
            connectionString="Data Source=LOCALHOST\SQLPASS;Initial Catalog=PatentiLookUp;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>